<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<!-- Title -->
<title>Go Travel</title>

<!-- Favicon -->
<link rel="icon" href="img/core-img/favicon.ico">

<!-- Core Stylesheet -->
<link href="style.css" rel="stylesheet">

<!-- Responsive CSS -->
<link href="css/responsive/responsive.css" rel="stylesheet">

</head>

<body>
    <!-- ***** Header Area Start ***** -->
	<div th:replace="thymeleaf/header :: header"></div>
    <!-- ***** Header Area End ***** -->

	<!-- ***** Breadcumb Area Start ***** -->
	<div class="breadcumb-area bg-img bg-overlay"
		style="background-image: url(img/bg-img/hero-1.jpg)"></div>
	<!-- ***** Breadcumb Area End ***** -->

	<!-- ***** Listing Destinations Area Start ***** -->
	<section class="dorne-listing-destinations-area section-padding-100-50">
		<div class="table table-bordered">
			<div class="row">
				<div class="col-12">
					<div class="section-heading dark text-center">
						<span></span>
						<h4>상품상세보기</h4>
					</div>
				</div>
			</div>
			<div>
				<h1 align="center">패키지 상세 정보 보기</h1>
				<table class="container">
					<tr>
						<td>목적국가</td>
						<td th:text="${packInfo.packInfo.pack_info_country}"></td>
					</tr>
					<tr>
						<td>여행안전정보</td>
						<td th:text="${packInfo.packInfo.pack_info_safe}"></td>
					</tr>
					<tr>
						<td>상품명</td>
						<td th:text="${packInfo.packInfo.pack_info_title}"></td>
					</tr>
					<tr>
						<td>여행일정</td>
						<td th:text="${packInfo.packInfo.pack_info_start_date} + '~' + ${packInfo.packInfo.pack_info_end_date}"></td>
					</tr>
					<tr>
						<td>이용항공사</td>
						<td th:text="${packInfo.packInfo.pack_info_air}"></td>
					</tr>
					<tr>
						<td>전체코스안내</td>
						<td th:text="${packInfo.packInfo.pack_info_course}"></td>
					</tr>
					<tr>
						<td>숙소정보</td>
						<td>
							<span th:each="pack:${packInfo.packHotelInfo}">
								<span th:text="${pack.pack_hotel_name}+'  '+ ${pack.pack_hotel_start_date} + '~' + ${pack.pack_hotel_end_date}"></span><br>
							</span>
						</td>
					</tr>

					<tr>
						<td>숙소이미지</td>
						<td>	
							<img th:src="'/hotelImg/'+${packInfo.hotelImg[0].imgFalseName}+'.'+${packInfo.hotelImg[0].imgExt}">		
						</td>
					</tr>
					<tr>
						<td>일별상세스케줄정보</td>
						<td>
							<span th:each="pack:${packInfo.packScheduleInfo}">
								<span th:text="${pack.pack_schedule_date}"></span><br>
								<span th:text="${pack.pack_schedule_contents}"></span><br>
							</span>
						</td>
					</tr>
					<tr>
						<td>일별상세스케줄이미지</td>
						<td>
							
							<img th:src="'/scheduleImg/'+${packInfo.scheduleImg[0].imgFalseName}+'.'+${packInfo.scheduleImg[0].imgExt}">
							
						</td>
					</tr>
					<tr>
						<td>방문관광지정보</td>
						<td>
							<span th:each="pack:${packInfo.packLandmarkInfo}">
								<span th:text="${pack.pack_tour_date}"></span><br>
								<span th:text="${pack.pack_landmark_code}"></span><br>
								<span th:text="${pack.pack_tour_contents}"></span><br>
							</span>
						</td>
					</tr>
					<tr>
						<td>방문관광지이미지</td>
						<td>
							
							<img th:src="'/landmarkImg/'+${packInfo.landmarkImg[0].imgFalseName}+'.'+${packInfo.landmarkImg[0].imgExt}"> -->
		
						</td>
					</tr>
					<tr>
						<td>모집인원</td>
						<td th:text="${packInfo.packInfo.pack_info_person_number}"></td>
					</tr>
					<tr>
						<td>이용요금</td>
						<td>성인 : <span th:text="${packInfo.packPriceInfo.pack_price_adult}"></span><br>
							초중고학생 : <span th:text="${packInfo.packPriceInfo.pack_price_child}"></span><br> 
							아동 : <span th:text="${packInfo.packPriceInfo.pack_price_baby}"></span><br>
						</td>
					</tr>
					<tr>
						<td>출발 전 참고사항</td>
						<td th:text="${packInfo.PackBeforeNoticeInfo}"></td>
					</tr>
					<tr>
						<td>출발 후 참고사항</td>
						<td th:text="${packInfo.PackAfterNoticeInfo}"></td>
					</tr>
					<tr>
						<td>신청마감일자</td>
						<td th:text="${packInfo.packInfo.pack_info_closing_date}"></td>
					</tr>
					<tr>
						<td>상품등록일</td>
						<td th:text="${packInfo.packInfo.pack_info_apply_date}"></td>
					</tr>
				</table>
				<!-- 세션값 비교 후 해당 글 작성자일때만 노출시켜야함 -->
				<button type="button" class="btn btn-primary" id="updateBtn" onclick="update()">상품수정</button>
				<button type="button" class="btn btn-primary" id="deleteBtn" onclick="dlt();">상품삭제</button>
				<!-- 세션값 비교 후 고객 권한일때만 노출시켜야함 -->
				<button type="button" class="btn btn-primary" id="bookBtn" onclick="bookBtn()">상품 예약하기</button>

			</div>
		</div>
	</section>



	<!-- ****** Footer Area Start ****** -->
	<div th:replace="thymeleaf/footer :: footer"></div>
	<!-- ****** Footer Area End ****** -->

	<!-- jQuery-2.2.4 js -->
	<script src="js/jquery/jquery-2.2.4.min.js"></script>
	<!-- Popper js -->
	<script src="js/bootstrap/popper.min.js"></script>
	<!-- Bootstrap-4 js -->
	<script src="js/bootstrap/bootstrap.min.js"></script>
	<!-- All Plugins js -->
	<script src="js/others/plugins.js"></script>
	<!-- Active JS -->
	<script src="js/active.js"></script>

</body>

<script type="text/javascript" th:inline="javascript">
/* <![CDATA[ */
var deleteResult ='<c:out value="${deleteResult}"/>';
if(deleteResult=='fail'){
	alert('예약/구매 진행중인 고객이 있는 상품입니다');
}
var bookResult = '<c:out value="${result}"/>'; 
if(bookResult=='fail'){
	alert('예약 진행중인 상품입니다');
}
	function update() {
		if (confirm("상품을 수정하시겠습니까?")) {
			location.href = "/Travel/packUpdate?pack_info_no="+/*[[${packInfo.packInfo.pack_info_no}]]*/;

		} else {
			alert('취소하셨습니다');
		}
	}
	
	function dlt() {

		if (confirm("상품 구매 진행중인 고객이 있을 시 삭제가 불가합니다. \n상품을 삭제하시겠습니까??")) {
			location.href = "/Travel/packDelete?pack_info_no="+/*[[${packInfo.packInfo.pack_info_no}]]*/;

		} else {
			alert('취소하셨습니다');
		}
	}
	
	function bookBtn() {

		if (confirm("상품을 예약하시겠습니까?")) {
			location.href = "/Travel/packBook?pack_info_no="+/*[[${packInfo.packInfo.pack_info_no}]]*/;

		} else {
			alert('취소하셨습니다');
		}
	}
	
/* ]]> */
</script>


</html>


