<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Go Travel</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link href="style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="css/responsive/responsive.css" rel="stylesheet">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="dorne-load"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area" id="header">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <nav class="h-100 navbar navbar-expand-lg">
                        <a class="navbar-brand" href="index"><img src="img/core-img/logo.png" alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dorneNav" aria-controls="dorneNav" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
                        <!-- Nav -->
                        <div class="collapse navbar-collapse" id="dorneNav">
                            <ul class="navbar-nav mr-auto" id="dorneMenu">
                                <li class="nav-item active">
                                    <a class="nav-link" href="index">메인 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item active dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">플랜 여행<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="planAdd">플랜등록</a>
                                        <a class="dropdown-item" href="planList">플랜찾기</a>
                                        <a class="dropdown-item" href="#">예비</a>
                                    </div>
                                </li>
                                <li class="nav-item active dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">패키지 여행<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="packList">패키지 찾기</a>
                                        <a class="dropdown-item" href="#">예비</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">후기</a>
                                </li>
                            </ul>
                            <div th:if="${session.LOGINID == null}">
	                            <!-- Admin Signin btn -->
	                            <div class="dorne-signin-btn">
	                                <a href="/adminLogin">관리자</a>
	                            </div>
	                            <!-- user/company 통합 로그인  -->
	                            <div class="dorne-add-listings-btn">
	                            	<a href="login" class="btn dorne-btn">사용자 로그인</a>
	                                <!-- <a href="/Travel/login" class="btn dorne-btn">사용자 로그인</a> -->
	                            </div>
                            </div>
                            <div th:if="${session.LOGINID != null}">
                            	<div class="dorne-signout-btn">
                            		<span th:text="${session.LOGINID}" style="color:yellow"></span>
                            		<span style="color:white">님 로그인중</span>
                            			<a href="/Travel/userLogout">로그아웃</a>
                            	</div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    
    <!-- ***** Breadcumb Area Start ***** -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/hero-1.jpg)"></div>
    <!-- ***** Breadcumb Area End ***** -->

	<!-- ***** Listing Destinations Area Start ***** -->
	<section class="dorne-listing-destinations-area section-padding-100-50">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section-heading dark text-center">
						<span></span>
						<h4>상품검색</h4>
					</div>
				</div>
			</div>
			<div>
			<form id="searchForm" action="/Travel/packList">
   	여행지:
   	<input list="countryselect" id="packSearchCountry" name="packSearchCountry" placeholder="국가를 선택해 주세요" >
		<datalist id="countryselect">
			<option value="Japan">일본</option>
			<option value="China">중국</option>
			<option value="USA">미국</option>
			<option value="Philippines">필리핀</option>
			<option value="HongKong">홍콩</option>
			<option value="Thailand">태국</option>
			<option value="Vietnam">베트남</option>
			<option value="Singapore">싱가포르</option>
			<option value="Germany">독일</option>
			<option value="England">영국</option>
			<option value="Swiss">스위스</option>
			<option value="France">프랑스</option>
			<option value="Italy">이탈리아</option>
			<option value="Netherlands">네덜란드</option>
		</datalist>
        여행시작일정 검색:
     <input list="monthselect" id="PackStartDate" name="PackStartDate" placeholder="여행 출발 월을 입력해주세요" >
		<datalist id="monthselect">
						<option value="2019-01-%">1월</option>
						<option value="2019-02-%">2월</option>
						<option value="2019-03-%">3월</option>
						<option value="2019-04-%">4월</option>
						<option value="2019-05-%">5월</option>
						<option value="2019-06-%">6월</option>
						<option value="2019-07-%">7월</option>
						<option value="2019-08-%">8월</option>
						<option value="2019-09-%">9월</option>
						<option value="2019-10-%">10월</option>
						<option value="2019-11-%">11월</option>
						<option value="2019-12-%">12월</option>
		</datalist>    
    <input type="submit" value="검색">
</form>
<table class="table" align="center">
	<thead>
		<tr>
			<td>패키지 번호</td>
			<td>등록자</td>
			<td>목적국가</td>
			<td>제목</td>
			<td>여행시작일정</td>
			<td>여행종료일정</td>
			<td>모집인원</td>
			<td>신청마감일자</td>
			<td>가격</td>
		</tr>
	</thead>
	<tbody>					
		<span th:each="pack:${packList}">
			<tr>
				<td th:text="${pack.pack_info_no}"></td>
				<td th:text="${pack.company_id}"></td>
				<td th:text="${pack.pack_info_country}"></td>
				<td><a th:href="@{'/Travel/packGetInfo?pack_info_no=' + ${pack.pack_info_no}}" th:text="${pack.pack_info_title}"></a></td>
				<td th:text="${pack.pack_info_start_date}"></td>
				<td th:text="${pack.pack_info_end_date}"></td>
				<td th:text="${pack.pack_info_person_number}"></td>
				<td th:text="${pack.pack_info_closing_date}"></td>
				<td></td>
			</tr>
		</span>
	</tbody>
</table>
    <div class="pagination-area wow fadeInUp" data-wow-delay="100ms">
        <nav>
            <ul class="pagination">
                <li class="page-item" th:if="${prevPage}"><a class="page-link" th:href="@{packList(currentPage=${(currentBlock - 1) * pagePerBlock})}">이전</a></li>
                <li class="page-item" th:each="i : ${#numbers.sequence(startPage, endPage)}" th:classappend="${currentPage} == ${i} ? active : null"><a class="page-link" th:href="@{packList(currentPage=${i})}" th:text="${i}"></a></li>
                <li class="page-item" th:if="${nextPage}"><a class="page-link" th:href="@{packList(currentPage=${currentBlock * pagePerBlock + 1})}">다음</a></li>
            </ul>
        </nav>
    	</div>

</section>

				<!-- ****** Footer Area Start ****** -->
				<footer class="dorne-footer-area">
					<div class="container-fluid">
						<div class="row">
							<div
								class="col-12 d-md-flex align-items-center justify-content-between">
								<div class="footer-text">
									<p>
										<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
										Copyright &copy;
										<script>document.write(new Date().getFullYear());</script>
										All rights reserved | This template is made with <i
											class="fa fa-heart-o" aria-hidden="true"></i> by <a
											href="https://colorlib.com" target="_blank">Colorlib</a>
										<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
									</p>
								</div>
								<div class="footer-social-btns">
									<a href="#"><i class="fa fa-linkedin" aria-haspopup="true"></i></a>
									<a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
									<a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
									<a href="#"><i class="fa fa-twitter" aria-haspopup="true"></i></a>
									<a href="#"><i class="fa fa-facebook" aria-haspopup="true"></i></a>
								</div>
							</div>
						</div>
					</div>
				</footer>
				<!-- ****** Footer Area End ****** -->

				<!-- jQuery-2.2.4 js -->
				<script src="js/jquery/jquery-2.2.4.min.js"></script>
				<!-- Popper js -->
				<script src="js/bootstrap/popper.min.js"></script>
				<!-- Bootstrap-4 js -->
				<script src="js/bootstrap/bootstrap.min.js"></script>
				<!-- All Plugins js -->
				<script src="js/others/plugins.js"></script>
				<!-- Active JS -->
				<script src="js/active.js"></script>
</body>

</html>