<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>여행사 관리 페이지</title>

    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">

  </head>

<!-- Header Start -->
  <body id="page-top">
 	<div th:replace="thymeleaf/comHeader :: header"></div>
<!-- Header End -->
<!-- Sidebar Start --> 	
    <div id="wrapper">
      <!-- Sidebar -->
      <div th:replace="thymeleaf/comHeader :: sidebar"></div>
<!-- Sidebar End -->
      <div id="content-wrapper">
       <div class="container-fluid">
         <!-- Breadcrumbs-->
         <ol class="breadcrumb">
           <li class="breadcrumb-item">
             <a href="companyIndex">메인페이지</a>
           </li>
           <li class="breadcrumb-item active">패키지 등록</li>
         </ol>
	<!-- Page Content -->
		<div class="container">
		 <div class="card mb-3">
		  <div class="card-header">
			패키지 상품추가
		 <div class="card-body">
		  <div class="table-responsive">
				<form id="packAdd" name="packAdd" onsubmit="return addInfoSubmit()" method="post" enctype="multipart/form-data">
					<input type="hidden" name="company_id" value="321">
					<table class="table table-bordered" id="packAddTable" width="100%" cellspacing="0">
						<tr>
							<td>등록자(여행사)</td>
							<td>321</td>
						</tr>
						<tr>
							<!-- packDTO -->
							<td>목적국가</td>
							<td><input list="countryselect" id="pack_info_country"
								name="pack_info_country" onkeyup="countryFunction()"
								placeholder="국가를 선택해 주세요"> <datalist id="countryselect">
									<option value="Japan">일본</option>
									<option value="China">중국</option>
									<option value="USA">미국</option>
									<option value="Philippines">필리핀</option>
									<option value="HongKong">홍콩</option>
									<option value="Thailand">태국</option>
									<option value="Vietnam">베트남</option>
									<option value="Singapore">싱가포르</option>
									<option value="Germany">독일</option>
									<option value="England">영국</option>
									<option value="Swiss">스위스</option>
									<option value="France">프랑스</option>
									<option value="Italy">이탈리아</option>
									<option value="Netherlands">네덜란드</option>
								</datalist></td>
						</tr>
						<tr>
							<!-- packDTO -->
							<td>안전정보</td>
							<td><input type="text" id="pack_info_safe"
								name="pack_info_safe" value="안전정보 API 추가 예정"></td>
						</tr>
						<tr>
							<!-- packDTO -->
							<td>상품명</td>
							<td><input type="text" id="pack_info_title"
								name="pack_info_title"></td>
						</tr>
						<tr>
							<!-- packDTO -->
							<td>여행시작일정</td>
							<td><input type="date" id="pack_info_start_date"
								name="pack_info_start_date"></td>
						</tr>
						<tr>
							<!-- packDTO -->
							<td>여행종료일정</td>
							<td><input type="date" id="pack_info_end_date"
								name="pack_info_end_date"></td>
						</tr>
						<tr>
							<!-- packDTO -->
							<td>이용항공</td>
							<td><input type="text" id="pack_info_air"
								name="pack_info_air"></td>
						</tr>
						<tr>
							<td>숙소</td>
							<td>
								<!-- packHotelDTO --> <input type="text" name="pack_hotel_name">
								<input type="date" name="pack_hotel_start_date">~<input
								type="date" name="pack_hotel_end_date"> <input
								type="button" id="MulitHotel" name="MulitHotel"
								onclick="MulitHotelRow()" value="숙소 추가">
								<table id="multiHotel"></table>
							</td>
						</tr>
						<tr>
							<td>숙소이미지</td>
							<td>
								<!-- 배열 --> <input type="file" name="hotelImgFileName" /> <input
								type="button" id="MulitHotelImg" name="MulitHotelImg"
								onclick="MulitHotelImgRow()" value="이미지 추가 업로드">
								<table id="multiHotelImg"></table>
							</td>
						</tr>

						<tr>
							<!-- packDTO -->
							<td>전체 코스</td>
							<td><textarea rows="4" cols="80" id="pack_info_course"
									name="pack_info_course"></textarea></td>
						</tr>
						<tr>
							<td>일별 상세 스케줄</td>
							<td>
								<!-- packScheduleDTO--> <input type="date"
								id="pack_schedule_date" name="pack_schedule_date"><br>
								<textarea rows="4" cols="65" id="pack_schedule_contents"
									name="pack_schedule_contents"></textarea> <input type="button"
								id="MultiSchedule" name="MultiSchedule"
								onclick="MultiScheduleRow()" value="일정추가">
								<table id="multiSchedule"></table>
							</td>
						</tr>
						<tr>
							<td>상세스케줄이미지</td>
							<td>
								<!-- 배열 --> <input type="file" name="scheduleFileName" /> <input
								type="button" id="MultiScheduleImg" name="MultiScheduleImg"
								onclick="MultiScheduleImgRow()" value="이미지 추가 업로드">
								<table id="multiScheduleImg"></table>
							</td>
						</tr>
						<tr>
							<td>방문관광지</td>
							<td>
								<!-- packLandmarkDTO --> <input type="text"
								id="pack_landmark_code" name="pack_landmark_code"
								placeholder="관광지이름입력"> <input type="date"
								id="pack_tour_date" name="pack_tour_date"><br> <textarea
									rows="4" cols="65" id="pack_tour_contents"
									name="pack_tour_contents"></textarea> <input type="button"
								id="MultiLandmark" name="MultiLandmark"
								onclick="MultiLandmarkRow()" value="관광지추가">
								<table id="multiLandmark"></table>
							</td>
						</tr>
						<tr>
							<td>관광지이미지</td>
							<td>
								<!-- 배열 --> <input type="file" name="landMarkFileName" /> <input
								type="button" id="MultiLandmarkImg" name="MultiLandmarkImg"
								onclick="MultiLandmarkImgRow()" value="이미지 추가 업로드">
								<table id="multiLandmarkImg"></table>
							</td>
						</tr>
						<tr>
							<!-- packDTO -->
							<td>모집인원</td>
							<td><input type="text" id="pack_info_person_number"
								name="pack_info_person_number">명</td>
						</tr>
						<tr>
							<!-- packPriceDTO -->
							<td>이용요금</td>
							<td>성인 : <input type="text" id="pack_price_adult"
								name="pack_price_adult"> 청소년 : <input type="text"
								id="pack_price_child" name="pack_price_child"> 유아 : <input
								type="text" id="pack_price_baby" name="pack_price_baby">
							</td>
						</tr>
						<tr>
							<td>출발 전 참고사항</td>
							<td>출발 전 참고사항 내용 <br> <textarea rows="4" cols="80"
									id="pack_notice_before_contents"
									name="pack_notice_before_contents"></textarea>
							</td>
						</tr>
						<tr>
							<td>출발 후 참고사항</td>
							<td>출발 후 참고사항 내용 <br> <textarea rows="4" cols="80"
									id="pack_notice_after_contents"
									name="pack_notice_after_contents"></textarea>
							</td>
						</tr>
						<tr>
							<!-- packDTO -->
							<td>신청마감일자</td>
							<td><input type="datetime-local" id="pack_info_closing_date"
								name="pack_info_closing_date" value="2018-01-01T06:30"></td>
						</tr>
						<tr>
							<td>광고신청</td>
							<td>
								<!-- packDTO --> <!-- 이미지 단일값 --> <input type="radio"
								name="pack_info_sale" value="true"
								onClick="this.form.adfile.disabled=false" checked>광고 신청<br>
								<input type="file" name="adfile"><br> <input
								type="radio" name="pack_info_sale" value="false"
								onClick="this.form.adfile.disabled=true">광고 신청하지않음
							</td>
						</tr>
						<tr>
							<td>등록신청</td>
							<td><input type="submit" value="Submit"></td>
						</tr>
					</table>
				</form>
				</div>
			   </div>
			  </div>
	        </div>
	      </div>
		</div>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
	
   <!-- Logout Modal-->
	<div th:replace="thymeleaf/comHeader :: modal"></div>
    
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
	<script type="text/javascript">
	
	var i = 0;
	
		{
			var oTbl;
			
			function MulitHotelRow() {
				oTbl = document.getElementById("multiHotel");
				i++;
				var oRow = oTbl.insertRow();
				oRow.onmouseover = function() {
					oTbl.clickedRowIndex = this.rowIndex
				}; //clickedRowIndex - 클릭한 Row의 위치를 확인;
	
				var oCell = oRow.insertCell();
				//삽입될 Form Tag
				var frmTag = "<input type=text name='pack_hotel_name'> <input type=date name='pack_hotel_start_date'>~<input type=date name='pack_hotel_end_date'>";
				frmTag += "<input type=button value='삭제' onClick='MulitHotelremoveRow()'>";
				oCell.innerHTML = frmTag;
			}
	
			function MulitHotelremoveRow() {
				i--;
				oTbl.deleteRow(oTbl.clickedRowIndex);
			}
		}
		{
			var oTb2;
			function MulitHotelImgRow() {
				oTb2 = document.getElementById("multiHotelImg");
				
				var oRow = oTb2.insertRow();
				oRow.onmouseover = function() {
					oTb2.clickedRowIndex = this.rowIndex
				}; //clickedRowIndex - 클릭한 Row의 위치를 확인;
	
				var oCell = oRow.insertCell();
				//삽입될 Form Tag
				var frmTag = "<input type=file name='hotelImgFileName' />";
				frmTag += "<input type=button value='삭제' onClick='MultiHotelImgremoveRow()'>";
				oCell.innerHTML = frmTag;
			}
	
			function MultiHotelImgremoveRow() {
				oTb2.deleteRow(oTb2.clickedRowIndex);
			}
		}
		
		{
			var oTbl3;
			function MultiScheduleRow() {
				oTbl3 = document.getElementById("multiSchedule");
				var oRow = oTbl3.insertRow();
				oRow.onmouseover = function() {
					oTbl3.clickedRowIndex = this.rowIndex
				}; //clickedRowIndex - 클릭한 Row의 위치를 확인;
	
				var oCell = oRow.insertCell();
				//삽입될 Form Tag
				var frmTag = "<input type=date id='pack_schedule_date' name='pack_schedule_date'><br><textarea rows=4 cols=65 id='pack_schedule_contents' name='pack_schedule_contents'></textarea>";
				frmTag += "<input type=button value='삭제' onClick='MultiScheduleremoveRow()'>";
				oCell.innerHTML = frmTag;
			}
	
			function MultiScheduleremoveRow() {
				oTbl3.deleteRow(oTbl3.clickedRowIndex);
			}
		}
	
		{
			var oTbl4;
			function MultiScheduleImgRow() {
				oTbl4 = document.getElementById("multiScheduleImg");
				var oRow = oTbl4.insertRow();
				oRow.onmouseover = function() {
					oTbl4.clickedRowIndex = this.rowIndex
				}; //clickedRowIndex - 클릭한 Row의 위치를 확인;
	
				var oCell = oRow.insertCell();
				//삽입될 Form Tag
				var frmTag = "<input type=file name='scheduleFileName' />";
				frmTag += "<input type=button value='삭제' onClick='MultiScheduleImgremoveRow()'>";
				oCell.innerHTML = frmTag;
			}
	
			function MultiScheduleImgremoveRow() {
				oTbl4.deleteRow(oTbl4.clickedRowIndex);
			}
		}
		
		{
			var oTbl5;
			function MultiLandmarkRow() {
				oTbl5 = document.getElementById("multiLandmark");
				var oRow = oTbl5.insertRow();
				oRow.onmouseover = function() {
					oTbl5.clickedRowIndex = this.rowIndex
				}; //clickedRowIndex - 클릭한 Row의 위치를 확인;
	
				var oCell = oRow.insertCell();
				//삽입될 Form Tag
				var frmTag = "<input type=text id='pack_landmark_code' name='pack_landmark_code' placeholder='관광지이름입력'><input type='date' id='pack_tour_date' name='pack_tour_date'><br><textarea rows=4 cols=65 id='pack_tour_contents' name='pack_tour_contents'></textarea>";
				frmTag += "<input type=button value='삭제' onClick='MultiLandmarkremoveRow()'>";
				oCell.innerHTML = frmTag;
			}
	
			function MultiLandmarkremoveRow() {
				oTbl5.deleteRow(oTbl5.clickedRowIndex);
			}
		}
	
		{
			var oTbl6;
			function MultiLandmarkImgRow() {
				oTbl6 = document.getElementById("multiLandmarkImg");
				var oRow = oTbl6.insertRow();
				oRow.onmouseover = function() {
					oTbl6.clickedRowIndex = this.rowIndex
				}; //clickedRowIndex - 클릭한 Row의 위치를 확인;
	
				var oCell = oRow.insertCell();
				//삽입될 Form Tag
				var frmTag = "<input type=file name='landMarkFileName' />";
				frmTag += "<input type=button value='삭제' onClick='MultiLandmarkImgremoveRow()'>";
				oCell.innerHTML = frmTag;
			}
	
			function MultiLandmarkImgremoveRow() {
				oTbl6.deleteRow(oTbl6.clickedRowIndex);
			}
		}
	
		var str = $('#pack_info_course').val();
		str = str.replace(/(?:\r\n|\r|\n)/g, '<br/>');
		$('#pack_info_course').val(str);
		
		var str = $('#pack_schedule_contents').val();
		str = str.replace(/(?:\r\n|\r|\n)/g, '<br/>');
		$('#pack_schedule_contents').val(str);
		
		var str = $('#pack_tour_contents').val();
		str = str.replace(/(?:\r\n|\r|\n)/g, '<br/>');
		$('#pack_tour_contents').val(str);
		
		var str = $('#pack_notice_before_contents').val();
		str = str.replace(/(?:\r\n|\r|\n)/g, '<br/>');
		$('#pack_before_after_contents').val(str);
		
		var str = $('#pack_notice_after_contents').val();
		str = str.replace(/(?:\r\n|\r|\n)/g, '<br/>');
		$('#pack_notice_after_contents').val(str);
		
	
	
	
		function addInfoSubmit() {
		    var myform = document.forms['packAdd'];
		    {
			    if( myform['pack_info_country'].value.length < 1) {
			        alert( '여행 국가를 입력해주세요');
			        return false;
			    }
			    if( myform['pack_info_title'].value.length < 1) {
			        alert( '상품명을 입력하세요');
			        return false;
			    }
			    if( myform['pack_info_start_date'].value.length < 1) {
			        alert( '패키지 시작일을 입력하세요');
			        return false;
			    }	    
			    if( myform['pack_info_end_date'].value.length < 1) {
			        alert( '패키지 종료일을 입력하세요');
			        return false;
			    }	    
			    if( myform['pack_info_air'].value.length < 1) {
			    	alert( '이용항공을 입력하세요');
			    	return false;
			    }		    
			    if( myform['pack_info_course'].value.length < 1) {
			    	alert( '전체코스 안내를 입력하세요');
			    	return false;
			    }
			    if( myform['pack_info_person_number'].value.length < 1) {
			    	alert( '패키지상품 모집인원을 입력하세요');
			    	return false;
			    }
			    if( myform['pack_price_adult'].value.length < 1) {
			    	alert( '패키지상품 성인요금을 입력하세요');
			    	return false;
			    }
			    
			    if( myform['pack_price_child'].value.length < 1) {
			    	alert( '패키지상품 청소년요금을 입력하세요');
			    	return false;
			    }
			    
			    if( myform['pack_price_baby'].value.length < 1) {
			    	alert( '패키지상품 아동요금을 입력하세요');
			    	return false;
			    }
			    
			    if( myform['pack_notice_before_contents'].value.length < 1) {
			    	alert( '여행 출발 전 필요 정보를 입력하세요');
			    	return false;
			    }
			    
			    if( myform['pack_notice_after_contents'].value.length < 1) {
			    	alert( '여행 출발 후 필요 정보를 입력하세요');
			    	return false;
			    }
			    
			    if( myform['pack_info_closing_date'].value.length < 1) {
			    	alert( '패키지상품 마감일을 입력하세요');
			    	return false;
			    }
	
		    }
	
		    return true;
		}
	</script>
  </body>
</html>