<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="mainLayout">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Go Travel</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link href="style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="css/responsive/responsive.css" rel="stylesheet">
    
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

</head>

<body>
	<div th:replace="thymeleaf/header :: header"></div>
	    
    <!-- ***** Breadcumb Area Start ***** -->
   <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/hero-1.jpg)">
   </div>

    <!-- ***** Listing Destinations Area Start ***** -->
 	<section class="dorne-listing-destinations-area section-padding-100-50">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section-heading dark text-center">
					<span></span>
					<h2>마이페이지</h2>
					<p>내 정보</p>
	            </div>
				<div class="map-ratings-review-area d-flex">
			            <a href="userGetInfo" class="d-flex align-items-center justify-content-center">내 정보</a>
			            <a href="#">패키지 구매 내역</a>
			            <a href="plan">플랜 참여 내역</a>
		        </div>
	        </div>
	    </div>
	    <div>
	    
	    <!-- 이미지파일입니다 -->
		<img th:src="'/userImg/'+${userDTO.user_img_false_name}+'.'+${userDTO.user_img_ext}">	
		<!-- 이미지 종료 -->
		<table border=1>
		<thead>
			<tr>
				<td>아이디</td>
				<td>닉네임</td>
				<td>이름</td>
				<td>주소</td>
				<td>이메일</td>
				<td>연락처</td>
				<td>자기소개</td>
				<td>인증신청</td>
				<td>수정</td>
				<td>탈퇴</td>
			</tr>
		</thead>
		<tbody>
			<div th:if="${session.LOGINID != null}">
			<tr>
				<td th:text="${userDTO.user_id}"></td>
				<td th:text="${userDTO.user_nickname}"></td>
				<td th:text="${userDTO.user_name}"></td>
				<td th:text="${userDTO.user_address}"></td>
				<td th:text="${userDTO.user_email}"></td>
				<td th:text="${userDTO.user_tell}"></td>
				<td th:text="${userDTO.user_introduction}"></td>
				<td>
					<a href="#" onclick="auth();">회원인증신청</a>
				</td>
				<td>
					<form name="userUpdate" action="/Travel/userUpdate" method="POST">
						<input type="hidden" name="user_id" value="${userDTO.user_id}" />
						<input type="hidden" name="user_nickname" value="${userDTO.user_nickname}" />
						<input type="hidden" name="user_address" value="${userDTO.user_address}" />
						<input type="hidden" name="user_email" value="${userDTO.user_email}" />
						<input type="hidden" name="user_tell" value="${userDTO.user_tell}" />
						<input type="hidden" name="user_introduction" value="${userDTO.user_introduction}" />
					</form>
					<a href="#" th:onclick="|javascript:document.userUpdate.submit();|">수정</a> <!-- data-toggle="modal" data-target="#updateModal -->
				</td>
				<td>
					<a href="#" onclick="dlt();">탈퇴</a>
				</td>
			</tr>
		   </tbody>
		  </table>
	</section>
    <!-- ***** Listing Destinations Area End ***** -->
    
    <!-- modal -->
    <div class="modal" id="updateModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-body">
					<h1> modal test </h1>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn" data-dismiss="modal">닫기</button>
				</div>
			</div>
		</div>
	</div>
	
    <!-- ****** Footer Area Start ****** -->
	<div th:replace="thymeleaf/footer :: footer"></div>
    <!-- ****** Footer Area End ****** -->

    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap-4 js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/others/plugins.js"></script>
    <!-- Active JS -->
    <script src="js/active.js"></script>
        
     <script type="text/javascript" th:inline="javascript">
     /* <![CDATA[ */
	function auth() {
		if (confirm("인증을 신청하시겠습니까?")) {
			location.href = "/Travel/userAuth?user_id="+/*[[${userDTO.user_id}]]*/;
		} else {
			alert('취소하셨습니다');
		}
	}
	
	function dlt() {
		if (confirm("탈퇴하시겠습니까??")) {
			location.href = "/Travel/userDelete?user_id="+/*[[${userDTO.user_id}]]*/;
		} else {
			alert('취소하셨습니다');
		}
	}
	/* ]]> */
	</script>
</body>
</html>