<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="mainLayout">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Go Travel</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link href="style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="css/responsive/responsive.css" rel="stylesheet">
    
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="dorne-load"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area" id="header">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <nav class="h-100 navbar navbar-expand-lg">
                        <a class="navbar-brand" href="index"><img src="img/core-img/logo.png" alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dorneNav" aria-controls="dorneNav" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
                        <!-- Nav -->
                        <div class="collapse navbar-collapse" id="dorneNav">
                            <ul class="navbar-nav mr-auto" id="dorneMenu">
                                <li class="nav-item active">
                                    <a class="nav-link" href="index">메인 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item active dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">플랜 여행<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="planAdd">플랜등록</a>
                                        <a class="dropdown-item" href="planList">플랜찾기</a>
                                        <a class="dropdown-item" href="#">예비</a>
                                    </div>
                                </li>
                                <li class="nav-item active dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">패키지 여행<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="packList">패키지 찾기</a>
                                        <a class="dropdown-item" href="#">예비</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">후기</a>
                                </li>
                            </ul>
                            <div th:if="${session.LOGINID == null}">
	                            <!-- Admin Signin btn -->
	                            <div class="dorne-signin-btn">
	                                <a href="admLogin">관리자</a>
	                            </div>
	                            <!-- user/company 통합 로그인  -->
	                            <div class="dorne-add-listings-btn">
	                            	<a href="login" class="btn dorne-btn">사용자 로그인</a>
	                                <!-- <a href="/Travel/login" class="btn dorne-btn">사용자 로그인</a> -->
	                            </div>
                            </div>
                            <div th:if="${session.LOGINID != null}">
                            	<div class="dorne-signout-btn">
                            		<a th:href="userGetInfo" th:text="${session.LOGINID}" style="color:yellow"></a>
                            		<span style="color:white">님 로그인중</span>
                            			<a href="/Travel/userLogout">로그아웃</a>
                            	</div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    
    
    
    <!-- ***** Breadcumb Area Start ***** -->
<!--     <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/hero-1.jpg)"></div>
 -->
    <div class="breadcumb-area height-500 bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb.jpg)">
		<div class="bradcumbContent">
            <h4>마이 페이지</h4>
    	</div>
        <div class="container">
            <div class="row">
                <div class="col-12">
	            	<div class="breadcumb-content">
                        <div class="map-ratings-review-area d-flex">
                            <a href="#" class="d-flex align-items-center justify-content-center"><img src="img/core-img/map.png" alt=""></a>
                            <a href="#">8.7</a>
                            <a href="#">Write a review</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Breadcumb Area End ***** -->

    <!-- ***** Listing Destinations Area Start ***** -->
 	<section class="dorne-listing-destinations-area section-padding-100-50">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section-heading dark text-center">
					<span></span>
					<h4>마이페이지</h4></div>
	            </div>
	        </div>
	      <div>
		<table border=1>
		<thead>
			<tr>
				<td>아이디</td>
				<td>닉네임</td>
				<td>이름</td>
				<td>주소</td>
				<td>이메일</td>
				<td>연락처</td>
				<td>자기소개</td>
				<td>회원프로필사진</td>
				<td>인증신청</td>
				<td>수정</td>
				<td>탈퇴</td>
			</tr>
		</thead>
		<tbody>
			<div th:if="${session.LOGINID != null}">
			<tr>
				<td th:text="${userDTO.user_id}"></td>
				<td th:text="${userDTO.user_nickname}"></td>
				<td th:text="${userDTO.user_name}"></td>
				<td th:text="${userDTO.user_address}"></td>
				<td th:text="${userDTO.user_email}"></td>
				<td th:text="${userDTO.user_tell}"></td>
				<td th:text="${userDTO.user_introduction}"></td>
				<td></td>
				<td>
					<a href="#" onclick="auth();">회원인증신청</a>
				</td>
				<td>
					<form name="userUpdate" action="/userUpdate" method="POST">
						<input type="hidden" name="user_id" value="${userDTO.user_id}" />
						<input type="hidden" name="user_nickname" value="${userDTO.user_nickname}" />
						<input type="hidden" name="user_address" value="${userDTO.user_address}" />
						<input type="hidden" name="user_email" value="${userDTO.user_email}" />
						<input type="hidden" name="user_tell" value="${userDTO.user_tell}" />
						<input type="hidden" name="user_introduction" value="${userDTO.user_introduction}" />
					</form>
					<a href="#" th:onclick="|javascript:document.userUpdate.submit();|">수정</a> <!-- data-toggle="modal" data-target="#updateModal -->
				</td>
				<td>
					<a href="#" onclick="dlt();">탈퇴</a>
				</td>
			</tr>
			</div>
		   </tbody>
		  </table>
		</div>
		<img src="" width='100' height='100'/>
		</div>
	</section>
    <!-- ***** Listing Destinations Area End ***** -->
    
    <!-- modal -->
    <div class="modal" id="updateModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-body">
					<h1> modal test </h1>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn" data-dismiss="modal">닫기</button>
				</div>
			</div>
		</div>
	</div>
	
    <!-- ****** Footer Area Start ****** -->
    <footer class="dorne-footer-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-md-flex align-items-center justify-content-between">
                    <div class="footer-text">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    <div class="footer-social-btns">
                        <a href="#"><i class="fa fa-linkedin" aria-haspopup="true"></i></a>
                        <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-haspopup="true"></i></a>
                        <a href="#"><i class="fa fa-facebook" aria-haspopup="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ****** Footer Area End ****** -->

    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap-4 js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/others/plugins.js"></script>
    <!-- Active JS -->
    <script src="js/active.js"></script>
        
     <script type="text/javascript" th:inline="javascript">
     /* <![CDATA[ */
	function auth() {
		if (confirm("인증을 신청하시겠습니까?")) {
			location.href = "/userAuth?user_id="+/*[[${userDTO.user_id}]]*/;
		} else {
			alert('취소하셨습니다');
		}
	}
	
	function dlt() {
		if (confirm("탈퇴하시겠습니까??")) {
			location.href = "/userDelete?user_id="+/*[[${userDTO.user_id}]]*/;
		} else {
			alert('취소하셨습니다');
		}
	}
	/* ]]> */
	</script>
</body>
</html>