<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.travel.member.user.mapper.UserMapper">

    <insert id="userInsert" parameterType="com.travel.member.user.dto.UserDTO">

	       	<selectKey resultType="String" keyProperty="user_no" order="BEFORE">
	   				SELECT IFNULL(MAX(CONVERT(SUBSTR((user_no), 5), UNSIGNED)+1), 0) FROM member_user
	   		</selectKey>

    			INSERT INTO member_user (user_no, user_id, user_pw, user_nickname, user_name, user_birth, user_gender, user_address, user_email, user_tell, user_join_date, user_email_check, user_sns_check, user_introduction, user_point, user_escape)
				 VALUES (concat("user", #{user_no}), #{user_id}, #{user_pw}, #{user_nickname}, #{user_name}, #{user_birth}, #{user_gender}, #{user_address}, #{user_email}, #{user_tell}, now(), #{user_email_check}, #{user_sns_check}, #{user_introduction}, '100', '0');

    </insert>
    
    <insert id="userInterestInsert" parameterType="String">
		INSERT INTO member_user_interest (user_id, user_interest_style)
		 VALUES (#{user_id}, #{user_interest})
    </insert>

	<insert id="userLanguageInsert" parameterType="String">
		INSERT INTO member_user_language (user_id, user_language_available)
		 VALUES (#{user_id}, #{user_language})
    </insert>
    
	<insert id="userLocationInsert" parameterType="String">
		INSERT INTO member_user_location (user_id, user_location_area)
		 VALUES (#{user_id}, #{user_location})
    </insert>
    
    <update id="userImgUpdate" parameterType="com.travel.member.user.dto.UserDTO">    	 
    	UPDATE member_user SET user_img_path = #{user_img_path}, user_img_true_name = #{user_img_true_name}, user_img_false_name = #{user_img_false_name}, user_img_ext = #{user_img_ext}, user_img_size = #{user_img_size}, user_img_date = now()
    	 WHERE user_id = #{user_id}
    </update>
    
    <select id="userLogin" parameterType="com.travel.member.user.dto.UserDTO" resultType="java.lang.Integer">
    	SELECT COUNT(user_no) FROM member_user WHERE user_id=#{user_id} AND user_pw=#{user_pw}
    </select>
    
    <select id="userGetInfo" parameterType="java.lang.String" resultType="com.travel.member.user.dto.UserDTO">
    	SELECT user_id, user_nickname, user_address, user_email, user_tell, user_introduction, user_img_path, user_img_true_name, user_img_false_name, user_img_ext, user_img_size, user_img_date FROM member_user WHERE user_id=#{user_id}
    </select>
    
    <update id="userUpdate" parameterType="com.travel.member.user.dto.UserDTO">
    	UPDATE member_user SET user_pw = #{user_pw}, user_nickname = #{user_nickname}, user_name = #{user_name}, user_address = #{user_address}, user_email = #{user_email}, user_tell = #{user_tell}, user_introduction = #{user_introduction}
    	 WHERE user_id = #{user_id}
    </update>

	<update id="userAuth" parameterType="java.lang.String">
		UPDATE member_user SET user_auth_date = now(), user_auth = '0'
		 WHERE user_id = #{user_id}
	</update>
	
	<delete id="userDelete" parameterType="java.lang.String">
		DELETE FROM member_user WHERE user_id = #{user_id}
	</delete>

	<select id="userList" parameterType="com.travel.paging.PageMaker" resultType="com.travel.member.user.dto.UserDTO">
		SELECT * FROM member_user ORDER BY user_join_date DESC LIMIT #{startRow},#{rowPerPage}
	</select>
	
    <select id="userSelectCount" resultType="int">
    	SELECT count(*) FROM member_user
    </select>
	
</mapper>