<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.travel.member.user.mapper.UserMapper">

    <insert id="userInsert" parameterType="com.travel.member.user.dto.UserDTO">
       	<selectKey resultType="String" keyProperty="user_no" order="BEFORE">
   			SELECT MAX(CONVERT(SUBSTR((user_no), 5), UNSIGNED)+1) FROM member_user
   		</selectKey>
		INSERT INTO member_user (user_no, user_id, user_pw, user_nickname, user_birth, user_gender, user_address, user_email, user_tell, user_join_date, user_email_check, user_sns_check, user_introduction, user_auth, user_point, user_escape)
		 VALUES (concat("user", #{user_no}), #{user_id}, #{user_pw}, #{user_nickname}, #{user_birth}, #{user_gender}, #{user_address}, #{user_email}, #{user_tell}, now(), #{user_email_check}, #{user_sns_check}, #{user_introduction}, #{user_auth}, '100', '0');
    </insert>
    
    <update id="userImgUpdate" parameterType="com.travel.member.user.dto.UserDTO">    	 
    	UPDATE member_user SET user_img_path = #{user_img_path}, user_img_true_name = #{user_img_true_name}, user_img_false_name = #{user_img_false_name}, user_img_ext = #{user_img_ext}, user_img_size = #{user_img_size}, user_img_date = now()
    	 WHERE user_id = #{user_id}
    </update>
    
    <select id="userLogin" parameterType="com.travel.member.user.dto.UserDTO" resultType="java.lang.Integer">
    	SELECT count(user_no) FROM member_user WHERE user_id=#{user_id} AND user_pw=#{user_pw}
    </select>


</mapper>