<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>여행사 관리 페이지</title>

    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">

  </head>

<!-- Header Start -->
  <body id="page-top">
 	<div th:replace="thymeleaf/comHeader :: header"></div>
<!-- Header End -->
<!-- Sidebar Start --> 	
    <div id="wrapper">
      <!-- Sidebar -->
      <div th:replace="thymeleaf/comHeader :: sidebar"></div>
<!-- Sidebar End -->
      <div id="content-wrapper">
       <div class="container-fluid">
         <!-- Breadcrumbs-->
         <ol class="breadcrumb">
           <li class="breadcrumb-item">
             <a href="companyIndex">메인페이지</a>
           </li>
           <li class="breadcrumb-item active">My Page</li>
         </ol>
	<!-- Page Content -->
		<div class="container">
		 <div class="card mb-3">
		  <div class="card-header">
			내 정보 보기
		 <div class="card-body">
		  <div class="table-responsive">
			<table class="table table-bordered" id="packAddTable" width="100%" cellspacing="0">
				<tr>
					<td width="100">ID</td>
					<td width="130">여행사이름</td>
					<td width="150">연락처1</td>
					<td width="130">연락처2</td>
					<td width="130">회사주소</td>
					<td width="130">사업자번호</td>
					<td width="140">회사연락처</td>
					<td width="140">본사연락처</td>
					<td width="120">정보수정</td>
					<td width="160">이미지보기</td>
				</tr>
				<tr>
					<td th:text="${companyDTO.company_id}"></td>
					<td th:text="${companyDTO.company_name}"></td>
					<td th:text="${companyDTO.company_tell1}"></td>
					<td th:text="${companyDTO.company_tell2}"></td>
					<td th:text="${companyDTO.company_address}"></td>
					<td th:text="${companyDTO.company_business_no}"></td>
					<td th:text="${companyDTO.company_branch_tell}"></td>
					<td th:text="${companyDTO.company_head_tell}"></td>
					<td>
						<a href="companyUpdate">수정</a>
					</td>
					<td>
						<a href="companyImgInfo">이미지</a>
					</td>
				</tr>
	 		</table>
		  </div>
	     </div>
	    </div>
       </div>
	  </div>
     </div>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
	
   <!-- Logout Modal-->
	<div th:replace="thymeleaf/comHeader :: modal"></div>
    
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
	<script type="text/javascript">
	</script>
   </div>
  </div>
 </body>
</html>