<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.travel.plan.mapper.PlanMapper">
 
 	<insert id="insertPlan" parameterType="com.travel.plan.dto.PlanDTO">
 		INSERT INTO plan1_travel
 			(user_id
 			, plan1_user_ip
 			, plan1_country
 			, plan1_city
 			, plan1_info
 			, plan1_air
 			, plan1_start_date
 			, plan1_end_date
 			, plan1_budget
 			, plan1_closing_date
 			, plan1_age
 			, plan1_person_number)
 		VALUES
 			(#{user_id}
 			, #{plan1_user_ip}
 			, #{plan1_country}
 			, #{plan1_city}
 			, #{plan1_info}
 			, '입력받지않음'
 			, #{plan1_start_date}
 			, #{plan1_end_date}
 			, #{plan1_budget}
 			, #{plan1_closing_date}
 			, #{plan1_age}
 			, #{plan1_person_number})
 			<selectKey resultType="integer" keyProperty="plan1_no" order="AFTER">
   				SELECT LAST_INSERT_ID()
			</selectKey>
 	</insert>
 	<insert id="insertPlanInterest" parameterType="com.travel.plan.dto.PlanInterestDTO">
 		INSERT INTO plan1_travel_concept
 			(plan1_concept_no
 			, plan1_no
 			, plan1_interest)
 		VALUES
 			(#{plan1_concept_no}
 			, #{plan1_no}
 			, #{plan1_interest})
 	</insert>
 	
 	<insert id="planHotelAdd" parameterType="com.travel.plan.dto.PlanHotelDTO">
 		INSERT INTO plan2_travel_hotel
 			(plan1_no,
 			plan2_hotel_date,
 			plan2_hotel_check_in,
 			plan2_hotel_check_out,
 			plan2_hotel_name,
 			plan2_hotel_address,
 			plan2_hotel_price)
 		VALUES
 			(#{plan1_no},
 			now(),
 			#{plan2_hotel_check_in},
 			#{plan2_hotel_check_out},
 			#{plan2_hotel_name},
 			#{plan2_hotel_address},
 			#{plan2_hotel_price})
 	</insert>
 	
 	<insert id="planLandmarkAdd" parameterType="com.travel.plan.dto.PlanLandmarkDTO">
 	 	INSERT INTO plan2_travel_landmark
 			(plan1_no,
 			plan2_landmark_date,
 			plan2_landmark_day,
 			plan2_landmark_address,
 			plan2_landmark_contents,
 			landmark_code,
 			plan2_landmark_price
 			)
 		VALUES
 			(#{plan1_no},
 			now(),
 			#{plan2_landmark_day},
 			#{plan2_landmark_address},
 			#{plan2_landmark_contents},
 			#{landmark_code},
 			#{plan2_landmark_price}
 			)
 	</insert>
 	
 	<insert id="planScheduleAdd" parameterType="com.travel.plan.dto.PlanScheduleDTO">
 	 	INSERT INTO plan2_travel_schedule
 			(plan1_no,
 			plan2_schedule_date,
 			plan2_schedule_day,
 			plan2_schedule_contents
 			)
 		VALUES
 			(#{plan1_no},
 			now(),
 			#{plan2_schedule_day},
 			#{plan2_schedule_contents}
 			)
 	</insert>
 	
 	<update id="planAirUpdate" parameterType="Map">
 		UPDATE plan1_travel SET plan1_air=#{plan1_air} WHERE plan1_no=#{plan1_no}
 	</update>
 	
 	<select id="planGetInfo" parameterType="java.lang.String" resultType="com.travel.plan.dto.PlanDTO">
 		SELECT * FROM plan1_travel WHERE plan1_no = #{plan1_no}
 	</select>
 	
 	<select id="planGetHotelInfo" parameterType="java.lang.String" resultType="com.travel.plan.dto.PlanHotelDTO">
 		SELECT * FROM plan2_travel_hotel WHERE plan1_no = #{plan1_no}
 	</select>

 	<select id="planGetLandmarkInfo" parameterType="java.lang.String" resultType="com.travel.plan.dto.PlanLandmarkDTO">
 		SELECT * FROM plan2_travel_landmark WHERE plan1_no = #{plan1_no}
 	</select>
 	
  	<select id="planGetScheduleInfo" parameterType="java.lang.String" resultType="com.travel.plan.dto.PlanScheduleDTO">
  		SELECT * FROM plan2_travel_schedule WHERE plan1_no = #{plan1_no}
 	</select>
 	 
 	<select id="planList" parameterType="java.lang.String" resultType="com.travel.plan.dto.PlanDTO">
 		SELECT *
 		FROM plan1_travel
 	</select>
 	
 	<delete id="planDeleteScheduleInfo" parameterType="java.lang.String">
 		DELETE FROM plan2_travel_schedule WHERE plan1_no = #{plan1_no}
 	</delete>
 	
 	<delete id="planDeleteLandmarkInfo" parameterType="java.lang.String">
 		DELETE FROM plan2_travel_landmark WHERE plan1_no = #{plan1_no}
 	</delete>
 	
 	<delete id="planDeleteHotelInfo" parameterType="java.lang.String">
 		DELETE FROM plan2_travel_hotel WHERE plan1_no = #{plan1_no}
 	</delete>
 	
 	



	  

 	
 </mapper>