<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.member.admin.mapper.AdminMapper">
	<insert id="adminInsert" parameterType="com.travel.member.admin.dto.AdminDTO">
		INSERT INTO member_admin (
			 admin_id
			,admin_pw
			,admin_level
			,admin_team
			,admin_employee_no
			,admin_employee_tell
			,admin_date)
		VALUES (#{admin_id}
			,#{admin_pw}
			,'관리자'
			,#{admin_team}
			,#{admin_employee_no}
			,#{admin_employee_tell}
			,now())	
	</insert>
    <select id="adminLogin" parameterType="com.travel.member.admin.dto.AdminDTO" resultType="com.travel.member.admin.dto.AdminDTO">
    	SELECT admin_id
			  ,admin_level
    	  FROM member_admin 
    	 WHERE admin_id=#{admin_id} 
    	   AND admin_pw=#{admin_pw}
    </select>
    <update id="adminUpdate" parameterType="com.travel.member.admin.dto.AdminDTO">
    	UPDATE member_admin
    	   SET admin_pw = #{admin_pw}
    		  ,admin_level =#{admin_level}
    		  ,admin_team =#{admin_team}
    		  ,admin_employee_no =#{admin_employee_no}
    		  ,admin_employee_tell =#{admin_employee_tell}
		WHERE admin_id = #{admin_id}
    </update>
    <select id="adminSelectOne" parameterType="com.travel.member.admin.dto.AdminDTO" resultType="com.travel.member.admin.dto.AdminDTO">
    	SELECT admin_id
    		  ,admin_pw
    		  ,admin_level
    		  ,admin_team
    		  ,admin_employee_no
    		  ,admin_employee_tell
    	 FROM member_admin
    	WHERE admin_id= #{admin_id}	
    </select>
    <select id="adminSelectAll" parameterType="com.travel.paging.PageMaker" resultType="com.travel.member.admin.dto.AdminDTO">
    	SELECT admin_no
    		  ,admin_id
    		  ,admin_level
    		  ,admin_team
    		  ,admin_employee_no
    		  ,admin_employee_tell
    		  ,admin_date
          FROM member_admin
      ORDER BY admin_date
    	  DESC
    	 LIMIT #{startRow},#{rowPerPage}
    </select>
    <select id="adminSelectCount" resultType="int">
    	SELECT count(*)
    	  FROM member_admin
    </select>
    <delete id="adminDelete" parameterType="com.travel.member.admin.dto.AdminDTO">
    	DELETE 
    	  FROM member_admin
    	 WHERE admin_id= #{admin_id}
    </delete>
    
    <select id="adminInfo" parameterType="java.lang.String" resultType="com.travel.member.admin.dto.AdminDTO">
    	SELECT admin_id 
    		,admin_level 
    		,admin_team 
    		,admin_employee_no 
    		,admin_employee_tell
    	FROM member_admin
    	WHERE admin_id = #{admin_id}
    </select>
</mapper>