<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.travel.member.company.mapper.CompanyMapper">
 	
 	<insert id="insertCompany" parameterType="com.travel.member.company.dto.CompanyDTO">
 			INSERT INTO member_company
 				(company_id
 				, company_pw
 				, company_name
 				, company_tell1
 				, company_tell2
 				, company_address
 				, company_business_no
 				, company_branch_tell
 				, company_head_tell
 				, company_auth
 				, company_check_date)
 			VALUES
 				(#{company_id}, #{company_pw}, #{company_name}, #{company_tell1}, #{company_tell2}
 				, #{company_address}, #{company_business_no}, #{company_branch_tell}, #{company_head_tell}, 0, now());
 	</insert>
 	
 	<insert id="insertCompanyImg" parameterType="com.travel.member.company.dto.CompanyImgDTO">
 			INSERT INTO member_company_img
 				(company_id
 				, company_img_path
 				, company_img_true_name
 				, company_img_false_name
 				, company_img_ext
 				, company_img_size
 				, company_img_date)
 			VALUES
 				(#{company_id}
 				, #{company_img_path}
 				, #{company_img_true_name}
 				, #{company_img_false_name}
 				, #{company_img_ext}
 				, #{company_img_size}
 				, now());
 	</insert>
 	
 	<select id="companyList" resultType="com.travel.member.company.dto.CompanyDTO">
 		SELECT *
 		FROM member_company
 	</select>
 	
 	<select id="companyAuthInfo" parameterType="java.lang.String" resultType="com.travel.member.company.dto.CompanyDTO">
 		SELECT * FROM member_company WHERE company_id = #{company_id}
 	</select>
 	
 	<update id="companyAuth" parameterType="com.travel.member.company.dto.CompanyDTO">
 		UPDATE member_company
 		SET
			company_check_tell = #{company_check_tell}
			, company_check_business_no = #{company_check_business_no}
			, company_check_ceo = #{company_check_ceo}
			, company_check_address = #{company_check_address}
			, company_auth = #{company_auth}
			, company_auth_date = now()
 		WHERE company_id = #{company_id}
 	</update>
 	
 </mapper>