<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.travel.pack.mapper.PackMapper">

    <insert id="packAdd" parameterType="com.travel.pack.dto.PackDTO">
		INSERT INTO pack_info (
			company_id, 
			pack_info_title,
			pack_info_country, 
			pack_info_safe, 
			pack_info_air, 
			pack_info_start_date, 
			pack_info_end_date, 
			pack_info_course, 
			pack_info_person_number, 
			pack_info_closing_date, 
			pack_info_sale, 
			pack_info_apply_date)
		 VALUES (
		 	#{company_id}, 
		 	#{pack_info_title},
		 	#{pack_info_country}, 
		 	#{pack_info_safe}, 
		 	#{pack_info_air}, 
		 	#{pack_info_start_date}, 
		 	#{pack_info_end_date}, 
		 	#{pack_info_course}, 
		 	#{pack_info_person_number}, 
		 	#{pack_info_closing_date}, 
		 	#{pack_info_sale}, 
		 	now());
		 	<selectKey resultType="integer" keyProperty="pack_info_no" order="AFTER">
   				SELECT LAST_INSERT_ID()
			</selectKey>
		 	
    </insert>
    
    <insert id="packHotelAdd" parameterType="com.travel.pack.dto.PackHotelDTO">
    	INSERT INTO pack_hotel (
    		pack_info_no,
    		pack_hotel_start_date,
    		pack_hotel_end_date,
    		pack_hotel_day,
    		hotel_code,
    		pack_hotel_name)
    	VALUES (
    		#{pack_info_no},
    		#{pack_hotel_start_date},
    		#{pack_hotel_end_date},
    		'0',
    		'가상호텔코드쿼리수정',
    		#{pack_hotel_name}
    		)
    </insert>
    
    <insert id="packScheduleAdd" parameterType="com.travel.pack.dto.PackScheduleDTO">
    	INSERT INTO pack_schedule (
    		pack_info_no,
    		company_id,
    		pack_schedule_date,
    		pack_schedule_contents)
    	VALUES (
  			#{pack_info_no},
    		#{company_id},
    		#{pack_schedule_date},
    		#{pack_schedule_contents}
    		)
    </insert>

    <insert id="packLandmarkAdd" parameterType="com.travel.pack.dto.PackLandmarkDTO">
    	INSERT INTO pack_landmark (
    		pack_info_no,
    		company_id,
    		pack_landmark_code,
    		pack_tour_date,
    		pack_tour_contents)
    	VALUES (
  			#{pack_info_no},
    		#{company_id},
    		#{pack_landmark_code},
    		#{pack_tour_date},
    		#{pack_tour_contents}
    		)
    </insert>
    
    
    <insert id="packHotelImgAdd" parameterType="map">
    	INSERT INTO pack_hotel_img (
    		pack_info_no, 
    		pack_hotel_img_path, 
    		pack_hotel_img_true_name, 
    		pack_hotel_img_false_name, 
    		pack_hotel_img_ext, 
    		pack_hotel_img_size, 
    		pack_hotel_img_date)
    	VALUES (    		
    		#{pack_info_no}, 
    		#{imgDTO.imgPath}, 
    		#{imgDTO.imgTrueName}, 
    		#{imgDTO.imgFalseName}, 
    		#{imgDTO.imgExt}, 
    		#{imgDTO.imgSize}, 
    		now())
    </insert>
    
   	<insert id="packScheduleImgAdd" parameterType="map">
    	INSERT INTO pack_schedule_img (
    		pack_info_no, 
    		pack_schedule_img_path, 
    		pack_schedule_img_true_name, 
    		pack_schedule_img_false_name, 
    		pack_schedule_img_ext, 
    		pack_schedule_img_size, 
    		pack_schedule_img_date)
    	VALUES (    		
    		#{pack_info_no}, 
    		#{imgDTO.imgPath}, 
    		#{imgDTO.imgTrueName}, 
    		#{imgDTO.imgFalseName}, 
    		#{imgDTO.imgExt}, 
    		#{imgDTO.imgSize}, 
    		now())
    </insert>
    
    <insert id="packLandmarkImgAdd" parameterType="map">
    	INSERT INTO pack_landmark_img (
    		pack_info_no, 
    		pack_tour_img_path, 
    		pack_tour_img_true_name, 
    		pack_tour_img_false_name, 
    		pack_tour_img_ext, 
    		pack_tour_img_size, 
    		pack_tour_img_date)
    	VALUES (    		
    		#{pack_info_no}, 
    		#{imgDTO.imgPath}, 
    		#{imgDTO.imgTrueName}, 
    		#{imgDTO.imgFalseName}, 
    		#{imgDTO.imgExt}, 
    		#{imgDTO.imgSize}, 
    		now())
    </insert>
	
	<insert id="packBeforeNotice" parameterType="Map">
		INSERT INTO pack_notice_before (
			pack_info_no,
			pack_notice_before_contents)
		VALUES (
			#{pack_info_no},
			#{pack_notice_before_contents}
		)
	</insert>
	
   	<insert id="packAfterNotice" parameterType="Map">
   		INSERT INTO pack_notice_after (
			pack_info_no,
			pack_notice_after_contents)
		VALUES (
			#{pack_info_no},
			#{pack_notice_after_contents}
		)
	</insert>
	
	<insert id="packPriceInfo" parameterType="com.travel.pack.dto.PackPriceDTO">
		INSERT INTO pack_price (
			pack_info_no,
			pack_price_adult,
			pack_price_child,
			pack_price_baby
			)
		VALUES (
			#{pack_info_no},
			#{pack_price_adult},
			#{pack_price_child},
			#{pack_price_baby}
			)
	</insert>
	
	<insert id="packBook" parameterType="com.travel.pack.dto.PackBookDTO">
		INSERT INTO pack_book (
			pack_info_no,
			user_id,
			pack_book_tell,
			pack_book_adult,
			pack_book_child,
			pack_book_baby,
			pack_book_price,
			pack_book_date,
			pack_book_states
			)
		VALUES (
			#{pack_info_no},
			#{user_id},
			#{pack_book_tell},
			#{pack_book_adult},
			#{pack_book_child},
			#{pack_book_baby},
			#{pack_book_price},
			now(),
			'예약'
			)
	</insert>
	
	<insert id="packPay" parameterType="com.travel.pack.dto.PackBookDTO">
		INSERT INTO pack_pay (
			pack_book_no,
			pack_book_price,
			pack_pay_system,
			pack_pay_date,
			pack_pay_states
			)
		VALUES (
			#{pack_book_no},
			#{pack_book_price},
			'테스트결제방식',
			now(),
			'결제성공'
			)
		
	</insert>

	<select id="packBookSelect" parameterType="com.travel.pack.dto.PackBookDTO" resultType="com.travel.pack.dto.PackBookDTO">
		SELECT * FROM pack_book WHERE pack_info_no = #{pack_info_no} AND user_id = #{user_id}
	</select>
	
	<select id="packOverBook" parameterType="com.travel.pack.dto.PackBookDTO" resultType="int">
		SELECT COUNT(pack_book_no) FROM pack_book WHERE pack_info_no = #{pack_info_no} AND user_id = #{user_id}
	</select>

	<select id="packDeleteBookConfirmSelect" parameterType="int" resultType="int">
		SELECT COUNT(pack_book_no) FROM pack_book WHERE pack_info_no=#{pack_info_no}
	</select>
	
	<select id="packDeletePayConfirmSelect" parameterType="int" resultType="int">
		SELECT COUNT(pack_pay_no) FROM pack_pay WHERE pack_book_no=#{pack_info_no}
	</select>

    <select id="packGetPackInfo" parameterType="int" resultType="com.travel.pack.dto.PackDTO">
    	SELECT * FROM pack_info WHERE pack_info_no = #{pack_info_no}
    </select>
    
    <select id="packGetHotelInfo" parameterType="int" resultType="com.travel.pack.dto.PackHotelDTO">
    	SELECT * FROM pack_hotel WHERE pack_info_no = #{pack_info_no}
    </select>
    
    <select id="packGetLandmarkInfo" parameterType="int" resultType="com.travel.pack.dto.PackLandmarkDTO">
    	SELECT * FROM pack_landmark WHERE pack_info_no = #{pack_info_no}
    </select>
    
    <select id="packGetScheduleInfo" parameterType="int" resultType="com.travel.pack.dto.PackScheduleDTO">
    	SELECT * FROM pack_schedule WHERE pack_info_no = #{pack_info_no}
    </select>
    
    <select id="packGetPriceInfo" parameterType="int" resultType="com.travel.pack.dto.PackPriceDTO">
    	SELECT * FROM pack_price WHERE pack_info_no = #{pack_info_no}
    </select>
    
    <select id="packGetBeforeNoticeInfo" parameterType="int" resultType="String">
    	SELECT pack_notice_before_contents FROM pack_notice_before WHERE pack_info_no = #{pack_info_no}
    </select>
    
    <select id="packGetAfterNoticeInfo" parameterType="int" resultType="String">
    	SELECT pack_notice_after_contents FROM pack_notice_after WHERE pack_info_no = #{pack_info_no}
    </select>
    
    <select id="packHotelImgConfirmSelect" parameterType="int" resultType="com.travel.image.ImgDTO">
    	SELECT 
    		pack_hotel_img_path AS imgPath, 
    		pack_hotel_img_true_name AS imgTrueName, 
    		pack_hotel_img_false_name AS imgFalseName, 
    		pack_hotel_img_ext as imgExt 
    	FROM pack_hotel_img WHERE pack_info_no=#{pack_info_no}
    </select>
    
    <select id="packLandmarkImgConfirmSelect" parameterType="int" resultType="com.travel.image.ImgDTO">
        SELECT 
    		pack_tour_img_path AS imgPath, 
    		pack_tour_img_true_name AS imgTrueName, 
    		pack_tour_img_false_name AS imgFalseName, 
    		pack_tour_img_ext as imgExt 
    	FROM pack_landmark_img WHERE pack_info_no=#{pack_info_no}
    </select>
    
    <select id="packScheduleImgConfirmSelect" parameterType="int" resultType="com.travel.image.ImgDTO">
        SELECT 
    		pack_schedule_img_path AS imgPath, 
    		pack_schedule_img_true_name AS imgTrueName, 
    		pack_schedule_img_false_name AS imgFalseName, 
    		pack_schedule_img_ext as imgExt 
    	FROM pack_schedule_img WHERE pack_info_no=#{pack_info_no}
    </select>
     <select id="packSelectCount" resultType="int">
        SELECT count(*)
    	  FROM pack_info
    </select>

   <select id="packList" parameterType="map" resultType="com.travel.pack.dto.PackDTO">
    	SELECT pack_info_no
    		  ,company_id
    		  ,pack_info_country
    		  ,pack_info_no
    		  ,pack_info_start_date
    		  ,pack_info_end_date
    		  ,pack_info_person_number
    		  ,pack_info_closing_date
    	 FROM pack_info
    	WHERE pack_info_country=#{packSearchDTO.packSearchCountry} 
    	  AND pack_info_start_date=#{packSearchDTO.PackStartDate}
    	 ORDER BY pack_info_no
    	  DESC
    	 LIMIT #{pageMaker.startRow},#{pageMaker.rowPerPage} 
    </select>
       <select id="packListCount" parameterType="map" resultType="int">
    	SELECT count(*)
    	 FROM pack_info
    	WHERE pack_info_country=#{packSearchDTO.packSearchCountry} 
    	  AND pack_info_start_date=#{packSearchDTO.PackStartDate}
    </select>
     <select id="packList1" resultType="com.travel.pack.dto.PackDTO">
    	SELECT pack_info_no
    		  ,company_id
    		  ,pack_info_country
    		  ,pack_info_no
    		  ,pack_info_start_date
    		  ,pack_info_end_date
    		  ,pack_info_person_number
    		  ,pack_info_closing_date
    	 FROM pack_info
    	 ORDER BY pack_info_no
    	  DESC
    	 LIMIT #{startRow},#{rowPerPage} 
 	</select>
     <select id="packList2" parameterType="map" resultType="com.travel.pack.dto.PackDTO">
    	SELECT pack_info_no
    		  ,company_id
    		  ,pack_info_country
    		  ,pack_info_no
    		  ,pack_info_start_date
    		  ,pack_info_end_date
    		  ,pack_info_person_number
    		  ,pack_info_closing_date
    	 FROM pack_info
    	WHERE pack_info_country=#{packSearchDTO.packSearchCountry}
    	 ORDER BY pack_info_no
    	  DESC
    	 LIMIT #{pageMaker.startRow},#{pageMaker.rowPerPage} 
    </select>
     <select id="packList2Count" parameterType="map" resultType="int">
    	SELECT count(*)
    	 FROM pack_info
    	WHERE pack_info_country=#{packSearchDTO.packSearchCountry}
    </select>
     <select id="packList3" parameterType="map" resultType="com.travel.pack.dto.PackDTO">
    	SELECT pack_info_no
    		  ,company_id
    		  ,pack_info_country
    		  ,pack_info_no
    		  ,pack_info_start_date
    		  ,pack_info_end_date
    		  ,pack_info_person_number
    		  ,pack_info_closing_date
    	 FROM pack_info
    	WHERE pack_info_start_date=#{packSearchDTO.PackStartDate}
        ORDER BY pack_info_no
    	 DESC
    	LIMIT #{pageMaker.startRow},#{pageMaker.rowPerPage} 
    </select>   
    <select id="packList3Count" parameterType="map" resultType="com.travel.pack.dto.PackDTO">
    	SELECT count(*)
    	 FROM pack_info
    	WHERE pack_info_start_date=#{packSearchDTO.PackStartDate}
    </select>
    
    <delete id="packDelete" parameterType="int">
    	DELETE FROM pack_info WHERE pack_info_no = #{pack_info_no}
    </delete>
    
   	<delete id="packHotelDelete" parameterType="int">
    	DELETE FROM pack_hotel WHERE pack_info_no = #{pack_info_no}
    </delete>
    
   	<delete id="packScheduleDelete" parameterType="int">
    	DELETE FROM pack_schedule WHERE pack_info_no = #{pack_info_no}
    </delete> 
       
   	<delete id="packLandmarkDelete" parameterType="int">
    	DELETE FROM pack_landmark WHERE pack_info_no = #{pack_info_no}
    </delete>   
     
    <update id="packUpdate" parameterType="com.travel.pack.dto.PackDTO">
    </update>
    
    <update id="packHotelUpdate" parameterType="com.travel.pack.dto.PackHotelDTO">
    </update>
    
    <update id="packScheduleUpdate" parameterType="com.travel.pack.dto.PackScheduleDTO">
    </update>
    
    <update id="packLandmarkUpdate" parameterType="com.travel.pack.dto.PackLandmarkDTO">
    </update>
    
    <update id="packBeforeNoticeUpdate" parameterType="Map">
        UPDATE pack_notice_before
    		SET 
    			pack_notice_before_contents=#{pack_notice_before_contents} 
    		WHERE 
    			pack_info_no=#{pack_info_no};
    </update>
    
    <update id="packAfterNoticeUpdate" parameterType="Map">
    	UPDATE pack_notice_after 
    		SET 
    			pack_notice_after_contents=#{pack_notice_after_contents} 
    		WHERE 
    			pack_info_no=#{pack_info_no};
    </update>
    
    <update id="packPriceInfoUpdate" parameterType="com.travel.pack.dto.PackPriceDTO">
    	UPDATE pack_price
    		SET
    			pack_price_adult=#{pack_price_adult}
    			, pack_price_child=#{pack_price_child}
    			, pack_price_baby=#{pack_price_baby}
    		WHERE
    			pack_info_no=#{pack_info_no};
    </update>

</mapper>