<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Go Travel</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link href="style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="css/responsive/responsive.css" rel="stylesheet">
    <style type="text/css">
	.messageArea{ 
      bottom: 36px; 
      height: calc(50vh - 180px); 
      resize: none; 
      overFlow-x:scroll; 
      overFlow-y:scroll; 
     } 
     .keyword{ 
      color:red; 
     }
     
    </style>
</head>

<body>
    <!-- ***** Header Area Start ***** -->
	<div th:replace="thymeleaf/header :: header"></div>
    <!-- ***** Header Area End ***** -->
    
    <!-- ***** Breadcumb Area Start ***** -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/hero-1.jpg)"></div>
    <!-- ***** Breadcumb Area End ***** -->

	<!-- ***** Listing Destinations Area Start ***** -->
<h4>상세 플랜 생성!</h4>
<input type="hidden" id= "plan1_no" name="plan1_no" th:value = "${planInfo.planInfo.plan1_no}">
					<table class="table table-bordered" id="packAddTable" width="100%" cellspacing="0">
						<tr>
							<td style = "width: 40%">
							<div class="explore-map-area" style="width: 100%; height: 340px">
				            	<div id="exploreGoogleMap"></div>
							</div>
							</td>
							<td>
							<div id="username-page">
							  <div class="username-page-container">
							    <form id="usernameForm" name="usernameForm">
							      <div class="form-group">
							        <input type="hidden" id="roomName"  placeholder="Username" autocomplete="off" class="form-control" />
							      </div>
							      <div class="form-group">
							        <input type="hidden" id="room-id"  placeholder="Room ID" autocomplete="off" class="form-control" />
							      </div>
							      <div class="form-group">
							        <button type="submit" class="accent username-submit">PLAN 채팅 입장</button>
							      </div>
							    </form>
							  </div>
							</div>
								<div id="chat-page" class="hidden">
							  <div class="chat-container">
							    <div class="chat-header">
							      <h2>Chatroom [<span id="room-id-display"></span>]</h2>
							    </div>
							    <ul id="messageArea" class="messageArea">
								
							    </ul> 
							    <form id="messageForm" name="messageForm" nameForm="messageForm">
							      <div class="form-group">
							        <div class="input-group clearfix">
							          <input type="text" id="message" autocomplete="off" class="form-control"/>
							          <button type="submit" class="primary">Send</button>
							        </div>
							      </div>
							    </form>
							  </div>
							</div>
							</td>
						</tr>
				</table>
				<table class="table table-bordered" id="packAddTable" width="100%" cellspacing="0">
						<tr>
							<td style = "width: 30%">플랜방번호</td>
							<td th:text="${planInfo.planInfo.plan1_no}"></td>
						</tr>
						<tr>
							<td style = "width: 30%">등록자(여행사)</td>
							<td th:text="${planInfo.planInfo.user_id}"></td>
						</tr>
						<tr>
							<td style = "width: 30%">목적국가</td>
							<td th:text="${planInfo.planInfo.plan1_country}"></td>
						</tr>
						<tr>
							<td style = "width: 30%">플랜방 이름</td>
							<td th:text="${planInfo.planInfo.plan1_title}"></td>
						</tr>
						<tr>
							<td style = "width: 30%">플랜방 소개</td>
							<td th:text="${planInfo.planInfo.plan1_info}"></td>
						</tr>
						<tr>
							<td style = "width: 30%">여행시작일정</td>
							<td th:text="${planInfo.planInfo.plan1_start_date}"></td>
						</tr>
						<tr>
							<td style = "width: 30%">여행종료일정</td>
							<td th:text="${planInfo.planInfo.plan1_end_date}"></td>
						</tr>
						<tr>
							<td style = "width: 30%">여행예상경비</td>
							<td th:text="${planInfo.planInfo.plan1_budget}"></td>
						</tr>
						<tr>
							<td style = "width: 30%">여행모집인원</td>
							<td th:text="${planInfo.planInfo.plan1_person_number}"></td>
						</tr>
						<tr>
							<td style = "width: 30%">현재참여자목록</td>
							<td></td>
						</tr>
						<tr>
							<td style = "width: 30%">이용항공</td>
							<td th:text="${planInfo.planInfo.plan1_air}" id="plan1_air"></td>
						</tr>
						<tr>
							<td style = "width: 30%">숙소</td>
 							<td>
 								<span id="hotelInfo">
									<span th:each="plan:${planInfo.planHotelInfo}">
										<div>
											호텔 이름 : <span th:text="${plan.plan2_hotel_name}"></span>
											숙박 기간 :<span th:text="${plan.plan2_hotel_check_in}"></span>~<span th:text="${plan.plan2_hotel_check_out}"></span> <br>
											호텔 주소 : <span th:text="${plan.plan2_hotel_address}"></span>
											숙박 비용 : <span th:text="${plan.plan2_hotel_price}"></span>
										</div>
									</span>
								</span>
							</td>
						</tr>
						<tr>
							<td style = "width: 30%">일별 상세 스케줄</td>
							
							<td>
								<span id="scheduleInfo">
									<span th:each="plan:${planInfo.planScheduleInfo}">
										<div>
											<span th:text="${plan.plan2_schedule_day}"></span><br>
											<span th:text="${plan.plan2_schedule_contents}"></span> 
										</div>
									</span>
								</span>
							</td>
						</tr>
						<tr>
							<td style = "width: 30%">방문관광지</td>
							<td>
								<span id="landmarkInfo">
									<span th:each="plan:${planInfo.planLandmarkInfo}">
										<div>
											관광지 이름 : <span th:text="${plan.landmark_code}"></span>
											관광지 방문일 : <span th:text="${plan.plan2_landmark_day}"></span><br>
											관광지 주소 : <span th:text="${plan.plan2_landmark_address}"></span>
											관광지 경비 : <span th:text="${plan.plan2_landmark_price}"></span><br> 
											관광지 설명 : <span th:text="${plan.plan2_landmark_contents}"></span> 
										</div>
									</span>
								</span>
							</td>
						</tr>

					</table>
<script src="/webjars/jquery/3.2.1/dist/jquery.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
<script src="/webjars/js-cookie/2.1.4/src/js.cookie.js"></script>
<script src="/js/chat.js"></script>
<script th:inline="javascript">
	$(function() {
		var userName = [[${userName}]];
		var planNum = [[${planInfo.planInfo.plan1_no}]];
		$("#roomName").val(userName);
		$("#room-id").val(planNum);
	});
</script>


				<!-- ****** Footer Area Start ****** -->
				<div th:replace="thymeleaf/footer :: footer"></div>
				<!-- ****** Footer Area End ****** -->

				<!-- jQuery-2.2.4 js -->
				<script src="js/jquery/jquery-2.2.4.min.js"></script>
				<!-- Popper js -->
				<script src="js/bootstrap/popper.min.js"></script>
				<!-- Bootstrap-4 js -->
				<script src="js/bootstrap/bootstrap.min.js"></script>
				<!-- All Plugins js -->
				<script src="js/others/plugins.js"></script>
				<!-- Active JS -->
				<script src="js/active.js"></script>
				   <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
	<script type="text/javascript">
	setInterval(function() {
		
		var plan1_no = $("#plan1_no").val();
		var allData = {"plan1_no": plan1_no}
		
        $.ajax({
        	contentType : "application/json; charset=utf-8",
        	dataType : "json",
            url:"planDetailLookAjax.do",
            type:'GET',
            data: allData,
            success:function(data){
            	$("#hotelInfo").empty();
            	$("#scheduleInfo").empty();
            	$("#landmarkInfo").empty();
            	
                $('#plan1_air').text(data.planInfo.planInfo.plan1_air);

                 for(var i=0; i<data.planInfo.planHotelInfo.length; i++) {
                	$("#hotelInfo").append("호텔이름 : " + data.planInfo.planHotelInfo[i].plan2_hotel_name + " 숙박 기간 : " + data.planInfo.planHotelInfo[i].plan2_hotel_check_in + "~" + data.planInfo.planHotelInfo[i].plan2_hotel_check_out + "<br>");
  					$("#hotelInfo").append("호텔 주소 : " + data.planInfo.planHotelInfo[i].plan2_hotel_address + " 숙박 비용 : " + data.planInfo.planHotelInfo[i].plan2_hotel_price + "<br>");
                	
                 }

                 for(var i=0; i<data.planInfo.planScheduleInfo.length; i++) {
                	 $("#scheduleInfo").append(data.planInfo.planScheduleInfo[i].plan2_schedule_day + "<br>");
                	 $("#scheduleInfo").append(data.planInfo.planScheduleInfo[i].plan2_schedule_contents);
                 } 
                     
                 for(var i=0; i<data.planInfo.planLandmarkInfo.length; i++) {
                	 console.log(data.planInfo.planLandmarkInfo[i].plan2_landmark_contents);
                	 $("#landmarkInfo").append("관광지 이름 : " + data.planInfo.planLandmarkInfo[i].landmark_code + " 관광지 방문일 : " + data.planInfo.planLandmarkInfo[i].plan2_landmark_day + "<br>");
                	 $("#landmarkInfo").append("관광지 주소 : " + data.planInfo.planLandmarkInfo[i].plan2_landmark_address + " 관광지 경비 : " +  data.planInfo.planLandmarkInfo[i].plan2_landmark_price + "<br>");
                	 $("#landmarkInfo").append("관광지 설명 : " + data.planInfo.planLandmarkInfo[i].plan2_landmark_contents + "<br>");
                 }
 
            },
            error:function(request,status,error) {
				console.log(error);
            }
        });
		
		
	}, 1000);
	</script>
	
	<!-- Google Maps js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0S862v9VyDqhlL-6vy6PjC51r99EmbzM"></script>
    <script type="text/javascript">
    var map;
    var latlng = new google.maps.LatLng(35.840892, 127.128173);
    var stylez = [{
        featureType: "all",
        elementType: "all",
        stylers: [{
            saturation: -50
                }]
            }];
    var mapOptions = {
        zoom: 17,
        center: latlng,
        scrollwheel: false,
        scaleControl: false,
        disableDefaultUI: true,
        mapTypeControlOptions: {
            mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'gMap']
        }
    };
    map = new google.maps.Map(document.getElementById("exploreGoogleMap"), mapOptions);
    var geocoder_map = new google.maps.Geocoder();
    var address = 'seoul';
    geocoder_map.geocode({
        'address': address
    }, function (results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
                map: map,
                position: map.getCenter()
            });
        } else {
            alert("Geocode was not successful for the following reason: " + status);
        }
    });
    var mapType = new google.maps.StyledMapType(stylez, {
        name: "Grayscale"
    });
    map.mapTypes.set('gMap', mapType);
    map.setMapTypeId('gMap');
    </script>
</body>

</html>