<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<!-- Title -->
<title>Go Travel</title>

<!-- Favicon -->
<link rel="icon" href="img/core-img/favicon.ico">

<!-- Core Stylesheet -->
<link href="style.css" rel="stylesheet">

<!-- Responsive CSS -->
<link href="css/responsive/responsive.css" rel="stylesheet">

</head>

<body>
	<!-- ***** Header Area Start ***** -->
	<div th:replace="thymeleaf/header :: header"></div>
	<!-- ***** Header Area End ***** -->
</body>
</html>

<!-- ***** Breadcumb Area Start ***** -->
<div class="breadcumb-area height-700 bg-img bg-overlay"
	style="background-image: url(img/bg-img/breadcumb.jpg)"></div>
</div>
<!-- ***** Breadcumb Area End ***** -->

<!-- ***** Single Listing Area Start ***** -->
<section class="dorne-single-listing-area section-padding-100">
	<div class="container">
		<div class="row justify-content-center">
			<!-- Single Listing Content -->
			<h3>플랜리스트</h3>
			<table border="1">
				<tr>
					<td>등록자</td>
					<td>목적국가</td>
					<td>목적도시</td>
					<td>플랜방정보</td>
					<td>여행시작날짜</td>
					<td>여행종료날짜</td>
					<td>예산</td>
					<td>신청마감날짜</td>
					<td>연령대</td>
					<td>모집인원</td>
					<td>신청</td>
				</tr>
				<tbody th:each="plan:${planList}">
					<tr>
						<td th:hidden="${plan.plan1_no}"></td>
						<td th:text="${plan.user_id}"></td>
						<td th:text="${plan.plan1_country}"></td>
						<td th:text="${plan.plan1_city}"></td>
						<td th:text="${plan.plan1_info}"></td>
						<td th:text="${plan.plan1_start_date}"></td>
						<td th:text="${plan.plan1_end_date}"></td>
						<td th:text="${plan.plan1_budget}"></td>
						<td th:text="${plan.plan1_closing_date}"></td>
						<td th:text="${plan.plan1_age}"></td>
						<td th:text="${plan.plan1_person_number}"></td>
						<td><a
							th:href="@{'/Travel/planApply?plan1_no=' + ${plan.plan1_no}}">신청</a>
						</td>
					</tr>
				</tbody>
			</table>
			</form>
		</div>
	</div>

	<!-- Listing Sidebar -->
	<!-- 			<div class="col-12 col-md-8 col-lg-4">
				<div class="listing-sidebar">

					Listing Verify
					<div class="listing-verify">
						<a href="#" class="btn dorne-btn w-100"><i
							class="fa fa-check pr-3"></i> Verified Listing</a>
					</div>

					Book A Table Widget
					<div class="book-a-table-widget mt-50">
						<h6>Book A Table</h6>
						<form action="#" method="get">
							<select class="custom-select" id="destinations">
								<option selected>Who will be arriving</option>
								<option value="1">New York</option>
								<option value="2">Latvia</option>
								<option value="3">Dhaka</option>
								<option value="4">Melbourne</option>
								<option value="5">London</option>
							</select> <select class="custom-select" id="catagories">
								<option selected>Guest 1</option>
								<option value="1">Guest 2</option>
								<option value="3">Guest 3</option>
								<option value="3">Guest 4</option>
							</select>
							<button type="submit" class="btn dorne-btn bg-white text-dark">
								<i class="fa fa-search pr-2" aria-hidden="true"></i> Search
							</button>
						</form>
					</div>
				</div>
			</div> -->
</section>
<!-- ***** Single Listing Area End ***** -->


<!-- ****** Footer Area Start ****** -->
<div th:replace="thymeleaf/footer :: footer"></div>
<!-- ****** Footer Area End ****** -->

<!-- jQuery-2.2.4 js -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/bootstrap/popper.min.js"></script>
<!-- Bootstrap-4 js -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="js/others/plugins.js"></script>
<!-- Active JS -->
<script src="js/active.js"></script>
</body>

</html>