<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>관리자 페이지</title>

    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">

  </head>

<!-- Header Start -->
  <body id="page-top">
 	<div th:replace="thymeleaf/adHeader :: header"></div>
<!-- Header End -->
<!-- Sidebar Start --> 	
    <div id="wrapper">
      <!-- Sidebar -->
      <div th:replace="thymeleaf/adHeader :: sidebar"></div>
<!-- Sidebar End -->	

     <div id="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/adminIndex">메인페이지</a>
          </li>
          <li class="breadcrumb-item active">여행사 회원 관리</li>
        </ol>

          <!-- Page Content -->
		<div class="card mb-3">
		   <div class="card-header">
         	 여행사 회원등록 리스트
		   <div class="card-body">
		    <div class="table-responsive">
		     <table class="table table-bordered" id="companyTable" width="100%" cellspacing="0">
		      <thead>
					<tr>
						<th>여행사번호</th>
						<th>아이디</th>
						<th>해당회사</th>
						<th>담당자 연락처1</th>
						<th>담당자 연락처2</th>
						<th>회사주소</th>
						<th>사업자번호</th>
						<th>회사대표연락처</th>
						<th>본사연락처</th>
						<th>신청날짜</th>
						<th>승인</th>
						<th>승인상태</th>
					</tr>
				</thead>
				<tbody th:each="company:${companyList}">
					<tr>
						<td th:text="${company.company_no}"></td>
						<td th:text="${company.company_id}"></td>
						<td th:text="${company.company_name}"></td>
						<td th:text="${company.company_tell1}"></td>
						<td th:text="${company.company_tell2}"></td>
						<td th:text="${company.company_address}"></td>
						<td th:text="${company.company_business_no}"></td>
						<td th:text="${company.company_branch_tell}"></td>
						<td th:text="${company.company_head_tell}"></td>
						<td th:text="${company.company_check_date}"></td>
						<td >
							<a th:href="@{'/Travel/companyAuthInfo?company_id=' + ${company.company_id}}">승인</a>
						</td>
						<td>
							<span th:if="${company.company_auth.toString().equals('true')}">승인됨</span>
							<span th:if="${company.company_auth.toString().equals('false')}">미승인</span>
						</td>
					</tr>
				</tbody>
			</table>
      <div class="pagination-area wow fadeInUp" data-wow-delay="100ms">
        <nav>
            <ul class="pagination">
                <li class="page-item" th:if="${prevPage}"><a class="page-link" th:href="@{companyList(currentPage=${(currentBlock - 1) * pagePerBlock})}">이전</a></li>
                <li class="page-item" th:each="i : ${#numbers.sequence(startPage, endPage)}" th:classappend="${currentPage} == ${i} ? active : null"><a class="page-link" th:href="@{companyList(currentPage=${i})}" th:text="${i}"></a></li>
                <li class="page-item" th:if="${nextPage}"><a class="page-link" th:href="@{companyList(currentPage=${currentBlock * pagePerBlock + 1})}">다음</a></li>
            </ul>
        </nav>
    	</div>
       </div>
      </div>
     </div>
    </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

   <!-- Logout Modal-->
	<div th:replace="thymeleaf/adHeader :: modal"></div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>

  </body>

</html>
