<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>관리자 페이지</title>

    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">

  </head>
<!-- Header Start -->
  <body id="page-top">
 	<div th:replace="thymeleaf/adHeader :: header"></div>
<!-- Header End -->
<!-- Sidebar Start --> 	
    <div id="wrapper">
      <!-- Sidebar -->
      <div th:replace="thymeleaf/adHeader :: sidebar"></div>
<!-- Sidebar End -->	

      <div id="content-wrapper">
        <div class="container-fluid">
          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="adminIndex">메인페이지</a>
            </li>
            <li class="breadcrumb-item active">사용자 회원 관리</li>
          </ol>

          <!-- Page Content -->
		 <div class="card mb-3">
		  <div class="card-header">
          	사용자 회원등록 리스트
		   <div class="card-body">
		    <div class="table-responsive">
		     <table class="table table-bordered" id="userTable" width="100%" cellspacing="0">
			  <thead>
				<tr>
					<td>번호</td>
					<td>아이디</td>
					<td>닉네임</td>
					<td>이름</td>
					<td>생일</td>
					<td>성별</td>
					<td>주소</td>
					<td>이메일</td>
					<td>연락처</td>
					<td>가입날짜</td>
					<td>최종개인정보수정날짜</td>
					<td>최종비밀번호수정날짜</td>
					<td>자기소개</td>
					<td>본인인증신청여부</td>
					<td>본인인증신청/승인날짜</td>
					<td>승인자아이디</td>
					<td>보유포인트</td>
					<td>탈주이력</td>
					<td>인증버튼</td>
				</tr>
			   </thead>
			   <tbody th:each="user:${userList}">
				<tr>
					<td th:text="${user.user_no}"></td>
					<td th:text="${user.user_id}"></td>
					<td th:text="${user.user_nickname}"></td>
					<td th:text="${user.user_name}"></td>
					<td th:text="${user.user_birth}"></td>
					<td th:text="${user.user_gender}"></td>
					<td th:text="${user.user_address}"></td>
					<td th:text="${user.user_email}"></td>
					<td th:text="${user.user_tell}"></td>
					<td th:text="${user.user_join_date}"></td>
					<td>
						<span th:if="${user.user_update_date == null}">
							정보없음
						</span>
						<span th:if="${user.user_update_date != null}" th:text="${user.user_update_date}"></span>
					</td>
					<td>
						<span th:if="${user.user_pw_date == null}">
							정보없음
						</span>
						<span th:if="${user.user_pw_date != null}" th:text="${user.user_pw_date}"></span>
					</td>
					<td th:text="${user.user_introduction}"></td>
					<td>
						<span th:if="${user.user_auth == null}">
							신청정보없음
						</span>
						<span th:if="${user.user_auth == false}">
							승인대기중
						</span>
						<span th:if="${user.user_auth == true}">
							승인완료
						</span>
					</td>
					<td>
						<span th:if="${user.user_auth_date == null}">
							신청정보없음
						</span>
						<span th:if="${user.user_auth_date != null}" th:text="${user.user_auth_date}"></span>
					</td>
					<td>					
						<span th:if="${user.admin_id == null}">
							승인자정보없음
						</span>
						<span th:if="${user.admin_id != null}" th:text="${user.admin_id}"></span>
					</td>
					<td th:text="${user.user_point}"></td>
					<td th:text="${user.user_escape}"></td>
					<td>
						<span th:if="${user.user_auth.toString().equals('false')}">
							<button><a th:href="@{'/Travel/userAuth?user_id=' + ${user.user_id}}">승인</a></button>
						</span>
					</td>
				</tr>
			   </tbody>
			</table>
            <div class="pagination-area wow fadeInUp" data-wow-delay="100ms">
        	<nav>
             <ul class="pagination">
                <li class="page-item" th:if="${prevPage}"><a class="page-link" th:href="@{UserList(currentPage=${(currentBlock - 1) * pagePerBlock})}">이전</a></li>
                <li class="page-item" th:each="i : ${#numbers.sequence(startPage, endPage)}" th:classappend="${currentPage} == ${i} ? active : null"><a class="page-link" th:href="@{UserList(currentPage=${i})}" th:text="${i}"></a></li>
                <li class="page-item" th:if="${nextPage}"><a class="page-link" th:href="@{UserList(currentPage=${currentBlock * pagePerBlock + 1})}">다음</a></li>
             </ul>
        	</nav>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
        <!-- /.container-fluid -->
      <!-- /.content-wrapper -->
	 </div>
    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

   <!-- Logout Modal-->
	<div th:replace="thymeleaf/adHeader :: modal"></div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>

  </body>

</html>
